*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global styles  */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

/* ========
Layout 
======== */

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.hero {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 20px;
}

.huddle-logo {
  max-width: 200px;
}

.btn {
  text-decoration: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: hsl(192, 100%, 9%);
  border-radius: 5em;
}

.btn-nav {
  background-color: white;
  padding: 0.5em 2.4em;
}

/* Header section */

.flex-header {
  height: 70vh;
  display: flex;
  align-items: center;
}

.header-text {
  color: hsl(192, 100%, 9%);
}

.header-text > .title {
  max-width: 30rem;
}
.header-text > .description {
  max-width: 75rem;
  margin-top: 16px;
  margin-bottom: 35px;
}

.btn-pink {
  padding: 0.5em 3em;
  width: fit-content;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.mockup-image {
  background-image: url(./images/illustration-mockups.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-left: 1.3em;
}

/* features section */

.features-container {
  padding-top: 5em;
  padding-bottom: 10em;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 400px;
  padding: 3em 0em 3em 5em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: hsl(192, 100%, 9%);
  border-radius: 0.5em;
}

.feature-text {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}

.feature-text > .subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-text > .feature-description {
  font-weight: 400;
}

.feature-flowing {
  padding-right: 1.5em;
}

.feature-img {
  flex-basis: 43%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.feature-img-grow {
  background-image: url(./images/illustration-grow-together.svg);
}

.feature-img-flow {
  background-image: url(./images/illustration-flowing-conversation.svg);
}

.feature-img-users {
  background-image: url(./images/illustration-your-users.svg);
}

/* /_ footer _/ */

.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-content {
  padding-top: 7.5em;
  padding-bottom: 5em;
}

.footer-logo {
  filter: invert(83%) sepia(100%) saturate(1%) hue-rotate(287deg)
    brightness(106%) contrast(101%);
}

.footer-text-container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-right: 50px;
}

.location-item {
  max-width: 400px;
  list-style-image: url(./images/icon-location.svg);
}
.phone-item {
  list-style-image: url(./images/icon-phone.svg);
  margin: 15px 0px;
}
.email-item {
  list-style-image: url(./images/icon-email.svg);
}

.footer-links > li {
  list-style-type: none;
  cursor: pointer;
}
.footer-links > li:hover {
  opacity: 0.8;
}
.footer-links > li:nth-child(2) {
  margin: 10px 0;
}

/* /_ footer icons fontawesome _/ */

.fab {
  cursor: pointer;
  transition: all 0.5s;
}

.fab:hover {
  opacity: 0.8;
}

.fa-twitter {
  margin: 0 10px;
}

.copyright-text {
  align-self: flex-end;
  margin-top: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
